@import '../../../styles/colors.scss';

.container {
  margin: 20rem auto 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 80rem;
    max-width: 90%;
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
    span {
      color: $yellow1;
    }
  }

  p {
    font-size: 2rem;
    max-width: 90%;
  }
}
