.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 14rem;
  grid-gap: 2rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .imageContainer {
    justify-self: center;
    display: flex;
    justify-content: center;

    img {
      max-width: 80%;
    }
  }

  .promise {
    padding: 4rem 4rem 0;
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
