@import '../../styles/colors.scss';

.container {
  width: 100%;
  margin: 0 auto 12rem;
  padding: 6rem 0;
  background: #fffbe9;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    font-size: 3rem;
    path {
      color: $blue1;
    }
  }

  // svg {
  //   font-size: 3rem;
  // }

  .quote {
    text-align: center;
    width: 80rem;
    max-width: 80%;
    font-size: 2.6rem;
    margin: 5rem 0;
  }

  .person {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 1.5rem;
    .imgContainer {
      width: 9rem;

      img {
        max-width: 100%;
      }
    }
    .name {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      font-size: 2rem;
    }
  }
}
