@import '../../../styles/colors.scss';

.container {
  text-align: center;
  margin-bottom: 12rem;

  h1 {
    font-size: 4rem;
    margin-top: 14rem;
  }

  > p {
    width: 60rem;
    max-width: 90%;
    margin: 2rem auto 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .cards {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 30rem;
      margin: 2rem 1.2rem 0;
      border: 1px solid #e6ecf8;

      .cardText {
        padding: 0 2rem;
        h2 {
          margin: 3rem 0 2rem;
        }

        p {
          font-size: 1.5rem;
          line-height: 3rem;
          margin: 0 0 4rem;
        }
      }
    }
  }

  button {
    cursor: pointer;
    margin: 4rem auto 4rem;
    background: $blue1;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    svg {
      margin-left: 1rem;
      path {
        color: #fff;
      }
    }
  }
}
