@import '../../../styles/colors.scss';

.container {
  margin-top: 10rem;
  height: 54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .textContainer {
    max-width: 70rem;
    padding: 2rem;
    h1 {
      max-width: 60rem;
      font-size: 4.4rem;
      margin-bottom: 2.4rem;
      span {
        color: $yellow1;
      }
    }

    p {
      font-size: 2rem;
    }

    button {
      margin: 5rem 0 4rem;
      background: $blue1;
      color: #fff;
      border: none;
      font-size: 2.4rem;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      padding: 1.4rem 2rem;
      display: flex;
      align-items: center;
      svg {
        margin-left: 1rem;
        path {
          color: #fff;
        }
      }
    }
  }
}
