@import '../styles/colors.scss';

.imageContainer {
  margin: -9rem auto 0;
  img {
    max-width: 100%;
  }
}

.bodyContainer {
  margin-bottom: 9rem;

  h1 {
    text-align: center;
    font-size: 3rem;
    width: 60rem;
    margin: 4rem auto 2rem;
    max-width: 90%;
  }

  p {
    font-size: 2.1rem;
    line-height: 4rem;
    width: 80rem;
    margin: 0 auto 2rem;
    max-width: 90%;
  }

  blockquote {
    color: $blue1;
    border-left: 5px solid $blue1;
    padding: 4rem;
    font-size: 2.1rem;
    line-height: 4rem;
    width: 80rem;
    margin: 0 auto 2rem;
    max-width: 90%;
  }
}

.projectsNav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  position: relative;
  margin-top: 14rem;
  margin-bottom: 12rem;

  &:before {
    content: '';
    height: 12rem;
    width: 99vw;
    background: $blue1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  & > .title {
    border: none;
  }

  p {
    color: #fff;
    a {
      color: inherit;
    border: 1px solid #fff;
    padding: 1rem;
    }
    span {
      color: #aaa;
      border: 1px solid #aaa;
      padding: 1rem;
    }
  }
}
