.container {
  margin-top: 6rem;
  padding: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: 725px) {
    padding: 4rem 3rem;
  }

  h1 {
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    @media (max-width: 725px) {
      text-align: center;
      font-size: 3rem;
    }
  }

  p {
    width: 80%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    opacity: 0.8;
    @media (max-width: 725px) {
      width: 90%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    background: #042044;
    width: 99vw;
    height: 100%;
    z-index: -1;
  }

  .tagsContainer {
    display: flex;
    .tag {
      font-size: 1.4rem;
      font-family: 'Rubik', sans-serif;
      border-radius: 3px;
      font-weight: 700;
      color: #111;
      background: #ffda27;
      padding: 5px;
      margin: 0 5px;
    }
  }
}
