.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
  margin: -4rem auto 8rem;

  .card {
    background: #fff;
    padding: 8rem 8rem;
    border: 1px solid #e6ecf8;

    .iconContainer {
      position: relative;

      .yellowBox {
        content: '';
        position: absolute;
        top: -3rem;
        left: 0;
        width: 7rem;
        height: 7rem;
        background: #ffda27;
      }
    }
    svg {
      font-size: 6rem;
      margin-bottom: 3rem;
      transform: translateX(3rem);
    }

    h2 {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}
