@import '../../../styles/colors.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 12rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
  @media (max-width: 725px) {
    grid-template-columns: 1fr;
  }

  .text {
    h3 {
      max-width: 60rem;
      font-size: 2.8rem;
      margin: 0 0 2.4rem;
    }

    p {
      font-size: 2rem;
    }

    button {
      margin: 6rem 0;
      background: $blue1;
      color: #fff;
      border: none;
      font-size: 2rem;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      padding: 1.4rem 2rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        margin-left: 1rem;
        path {
          color: #fff;
        }
      }
    }
  }
}
