.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 14rem;
  @media (max-width: 725px) {
    grid-template-columns: 1fr;
  }

  .imageContainer {
    width: 70%;
    justify-self: center;
  }

  .promise {
    padding-top: 5rem;
    width: 80%;
    margin: 0 auto;
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
