@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Rubik:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #011e41;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  background: #fff;
}

body {
  font-size: 1.4rem;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  max-width: 112rem;
  margin: 0 auto;
  overflow-x: hidden;
}

p {
  color: #1c355e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}
