@import '../../../styles/colors.scss';

.container {
  width: 112rem;
  max-width: 100vw;
  padding: 1.6rem 2rem 0.8rem;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.2s ease-in;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .imgContainer {
    padding: 0.8rem 1.2rem;
  }

  .floatingMenu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    @media (min-width: 725px) {
      display: none;
    }

    & > ul {
      flex: 1;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      background: #fff;

      & > li {
        margin-bottom: 2rem;
        a {
          padding: 1rem 1.2rem;
          margin-left: 2rem;
          color: $blue1;

          svg {
            margin-left: 1rem;
            path {
              color: $blue1;
            }
          }
        }
      }
    }
  }

  .menuIconContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      cursor: pointer;
      margin-left: 1rem;
      font-size: 3rem;
      path {
        color: $blue1;
      }
    }
    @media (min-width: 725px) {
      display: none;
    }
  }

  ul {
    flex: 1;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    @media (max-width: 725px) {
      display: none;
    }

    li {
      a {
        padding: 0.8rem 1.2rem;
        margin-left: 2rem;
        color: $blue1;

        svg {
          margin-left: 1rem;
          path {
            color: $blue1;
          }
        }
      }
    }

    .start {
      a {
        border: 1px solid $blue1;
      }
    }
  }
}
