.container {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: -4rem auto 14rem;
  @media (max-width: 725px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;

    h1 {
      font-size: 4.8rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}
