@import '../../styles/colors.scss';

.container {
  width: 80rem;
  max-width: 95%;
  margin: 0 auto;
  padding: 18rem 0;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .col2 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    @media (max-width: 725px) {
      grid-template-columns: 1fr;
    }

    label {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      display: flex;
      flex-direction: column;

      input {
        margin-top: 1rem;
        font-size: 3rem;
        height: 4rem;
      }

      select {
        margin-top: 1rem;
        font-size: 2rem;
        height: 4rem;
        background: none;
      }
    }
  }

  .col1 {
    display: grid;

    label {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      textarea {
        margin-top: 1rem;
        width: 100%;
        resize: vertical;
      }
    }
  }

  button {
    cursor: pointer;
    border: none;
    color: #fff;
    background: $blue1;
    margin-top: 6rem;
    font-size: 2.4rem;
    padding: 1rem 3rem;
  }
}
