.container {
  display: grid;
  width: 110rem;
  max-width: 95%;
  margin: 0 auto 14rem;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .imgContainer {
    width: 100%;
    position: relative;

    .title {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all .2s ease-in;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      span {
        background: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          margin-left: 1rem;
          path {
            color: #3d7dca;
          }
        }
      }
    }
  }
}
