@import '../../../styles/colors.scss';

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 0 2rem 20rem;
  @media (max-width: 720px) {
    grid-template-columns: 1fr 1fr;
  }

  & > div {
    h5 {
      font-size: 2rem;
      margin: 0 0 2rem;
    }

    p {
      font-size: 1.8rem;
      margin: 0 0 2rem;
      line-height: 3rem;
    }

    & > div {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      a {
        color: $blue1;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1rem;
          transition: all 0.1s linear;
        }
        &:hover {
          color: inherit;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 105%;
            border-radius: 5rem;
            height: 1rem;
            background-image: linear-gradient(
              to right,
              #fa709a00 0%,
              #fee140 100%
            );
            z-index: -1;
          }
        }
      }
    }
  }
}
